* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cosolas;
}

.App {
  background: linear-gradient(-45deg, #aa3e6f, rgba(71, 191, 131, 0.4),#b47dd1);
  background-size: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.content{
  display: flex;
  margin: 0 10px;
}
p{
  margin: 9px 10px 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}
span{
  position: relative;
  background: #aa3e6f;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #aa3e6f;
}
.imgBx{
  position: relative;
  width: 30px;
  height: 30px;
  
}
.imgBx img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-35deg);
}
.num{
  font-size: 1.65em;
  text-align: center;
  font-weight: 600;
  margin: 10px;
  color: #a23c3c;
}
.line{
  position: relative;
  background: #aa3e6f;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #b47dd1;
  margin-top: 10px;
}
.line.one{
  width: 100px;
  margin-left: 150px;
  margin-bottom: 5px;
}
button{
  width: 180px;
  margin: 10px;
  padding: 10px;
  background: none;
  font-size: 1.65em;
  border: 1px solid #aa3e6f;
  border-radius: 30px;
  color: rgb(160, 75, 75);
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover{
  background: linear-gradient(-45deg, #aa3e6f, rgba(71, 191, 131, 0.4),#b47dd1);
  background-size: 200%;
  color: #fff;
}